body{
    -webkit-transition: background-color 1000ms ease-in-out;
    -moz-transition: background-color 1000ms ease-in-out;
    -o-transition: background-color 1000ms ease-in-out;
    -ms-transition: background-color 1000ms ease-in-out;
    transition: background-color 1000ms ease-in-out;
}



#container{
        position: fixed;
    width: 100%;
    text-align: center;
}

#at_field{
	font-size: 20px;
	overflow: visible;
	font-weight: normal;
	/*color: #999;*/
	color: #777;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#name_field{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: inherit;
	font-size: 32px;
	overflow: visible;
}

#at_field, #name_field{
    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
}

#text{
	text-align: left;
	line-height: 30px;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 454px;
	height: auto;
	overflow: hidden;
    margin-bottom: 20px;
}



.swing{
	-webkit-animation:swinging 8s ease-in-out 0s infinite;
	-moz-animation:swinging 8s ease-in-out 0s infinite;
	animation:swinging 8s ease-in-out 0s infinite;
	/*-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	transform-origin:50% 0;*/
}

@-webkit-keyframes swinging{
	0% { -webkit-transform: rotate(0deg); }
	5% { -webkit-transform: rotate(5deg); }
	10% { -webkit-transform: rotate(-5deg); }
	15% { -webkit-transform: rotate(4deg); }
	20% { -webkit-transform: rotate(-4deg); }
	25% { -webkit-transform: rotate(3deg); }
	30% { -webkit-transform: rotate(-3deg); }
	35% { -webkit-transform: rotate(2deg); }
	40% { -webkit-transform: rotate(-2deg); }
	45% { -webkit-transform: rotate(1deg); }
	50% { -webkit-transform: rotate(-1deg); } /* Come to rest at 50%. The rest is just stillness */
	100% { -webkit-transform: rotate(0deg); }
	
}

@-moz-keyframes swinging{
	0% { -moz-transform: rotate(0deg); }
	5% { -moz-transform: rotate(5deg); }
	10% { -moz-transform: rotate(-5deg); }
	15% { -moz-transform: rotate(4deg); }
	20% { -moz-transform: rotate(-4deg); }
	25% { -moz-transform: rotate(3deg); }
	30% { -moz-transform: rotate(-3deg); }
	35% { -moz-transform: rotate(2deg); }
	40% { -moz-transform: rotate(-2deg); }
	45% { -moz-transform: rotate(1deg); }
	50% { -moz-transform: rotate(-1deg); } /* Come to rest at 50%. The rest is just stillness */
	100% { -moz-transform: rotate(0deg); }

}

@keyframes swinging{
	0% { transform: rotate(0deg); }
	5% { transform: rotate(5deg); }
	10% { transform: rotate(-5deg); }
	15% { transform: rotate(4deg); }
	20% { transform: rotate(-4deg); }
	25% { transform: rotate(3deg); }
	30% { transform: rotate(-3deg); }
	35% { transform: rotate(2deg); }
	40% { transform: rotate(-2deg); }
	45% { transform: rotate(1deg); }
	50% { transform: rotate(-1deg); } /* Come to rest at 50%. The rest is just stillness */
	100% { transform: rotate(0deg); }
}

.row_two .span2{
    /*width: 10% !important;*/
    width: 14% !important;
    display: inline-block;
    float: left;
    height: 80px;
    min-width: 80px;
}

.row_two .span2 img{
    position: absolute;
}



.at_hover img{
    -webkit-transition: margin-top 200ms ease-in-out;
    -moz-transition: margin-top 200ms ease-in-out;
    -o-transition: margin-top 200ms ease-in-out;
    -ms-transition: margin-top 200ms ease-in-out;
    transition: margin-top 200ms ease-in-out;
    
    text-decoration: none !important;
}


.row_two{
    width: 60%;
    margin-left: 20%;
    text-align: center;
}


@media (max-width: 760px) {
      #text{
        min-height: 70px;
    }
}

@media (max-width: 460px) {
      #text{
        min-height: 100px;
    }
}
